<div class="container list-posts">

    <h1 class="list-title">{{ .Name }}</h1>

    {{ $ref := . }}

    {{ .Content }}

    {{if eq (len (where .Pages "Params.type" "post") ) 0}}
        {{ i18n "nothing" }}
    {{else}}

        {{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}

            <h2 class="posts-year">{{ .Key }}</h2>

            {{- range .Pages -}}
                {{ .Scratch.Set "ref" $ref}}
                {{- partial "list-posts.html" . -}}
            {{ end }}
        {{ end }}
    {{ end }}

    <p>&nbsp;</p>

    <p class="page-views">
        {{ if and (.Params.showVisitCount | default (.Site.Params.article.showVisitCount | default true)) }}
        {{- partial "visit-counter.html" . }}
        {{ end }}
    </p>

</div>
