<article class="post-title">
    <span class="post-link"> <a href="{{ .Permalink }}">
        {{ if eq .Site.Params.ShowPreviewImages "true" }}
            {{ $image := index (.Resources.ByType "image") 0 }}

            {{ if eq $image nil }}
                <div class="preview-image not-available">
                    <div class="icon">
                    {{ if eq .Params.PreviewIcon nil }}
                        {{ i18n "not-available" }}
                    {{ else }}
                    {{ .Params.PreviewIcon | safeHTML }}
                    {{ end }}
                    </div>
                </div>
            {{ else }}
                {{ $image := $image.Resize "x100" }}

                {{ with $image }}
                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="preview-image">
                {{ end }}
            {{ end }}
        {{ end }}
        {{ $category := index .Ancestors 0 }}
        {{ .Title }}</a>
        {{ if eq (len (.Scratch.Get "ref").Ancestors) 0 }}
            (<a href="{{ $category.RelPermalink }}" class="inlineLink">{{ $category.Title }}</a>)
        {{ end }}
    </span>
    <div class="flex-break"></div>
    <span class="post-date">{{ dateFormat "January 2, 2006" .Date }}</span>
</article>
